---
import Search from "../components/Search.astro";
---

<nav
  class="z-30 top-0 right-0 left-0 fixed flex items-center justify-between my-6 lg:mx-[100px] mx-4"
>
  <span class="h-[62px] w-[56px] bg-iLogo bg-cover bg-no-repeat bg-center"
  ></span>
  <div class="flex gap-6">
    <button
      class="flex items-center justify-center w-12 h-12 hover:bg-body-200 rounded-full"
    >
      <span class="w-6 h-6 bg-iSearch bg-cover bg-no-repeat bg-center"></span>
    </button>
    <span class="w-12 h-12 bg-iSpanish bg-cover bg-no-repeat bg-center"></span>
  </div>
</nav>
